* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
 
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/   
img{
    width: 35%;
    height: 500px;
    border: 5px solid  rgb(94, 86, 168)
}
/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x:auto;
}
h1{
    text-align: center;
    color: rgb(73, 169, 214);
    font-family: 'Alasalom Demo';
}

#image{
    text-align: center;
    vertical-align: top;
}
body{
    /*background-color: rgb(19,24,43); */
    background-image: url("Background.jfif");
    font-family: 'Alasalom Demo';
}
@font-face {
    font-family: 'Alasalom Demo';
    src: url('Albasalom\ Font.otf');
}
@font-face{
    font-family: 'Orange Squash';
    src: url('Orange\ Squash\ Font.otf')
}
.Descriptions{
    background-color:rgb(82, 140, 174);
    color:rgb(233, 228, 213);
    font-family: 'Alasalom Demo';
    border: 8px solid rgb(19,24,43);
    border-style: double;
    
}
.Links{
   color: rgb(73, 169, 214); 
  
}
#nav-class{
    border-top: solid rgb(94, 86, 168) 4px;
}
h4{
    font-family:'Orange Squash';
}
.Descriptions2
{
    background-color: rgb(19,24,43);
    color: rgb(73, 169, 214);
    font-family: 'Alasalom Demo';
    border: 8px solid rgb(73, 169, 214);
    border-style: double;
}
#bookmarks{
    font-size: 20px;
    opacity: 40%;
}
#row1{
    padding-bottom: 20px;
}
#row2{
    padding-bottom: 20px;
}
#row3{
    padding-bottom: 20px;
}
#row4{
    padding-bottom: 20px;
}
i{
    font-size: 30px;
    padding-right: 15px;
}
a:hover{
    height: fit-content;
    opacity: 40%;
}
hr{
    border-color: rgb(94, 86, 168);
    border-width: 5px;
}
#C5{
    text-align: center;
    color: rgb(73, 169, 214);
    font-family: 'Alasalom Demo';
    font-size: 25px;
}
p{
    font-size: 20px;
}
#nav-class{
    background-image: url("Background.jfif");
}
.navbar-brand{
    color: rgb(19,24,43);
    font-family: 'Alasalom Demo';
    font-size: 25px;
}
.dropdown-menu{
    background-color: rgb(136, 214, 73);
}
#dropdown-button{
    font-family: 'Alasalom Demo';
}
#Resources{
    font-size: 25px;
    margin-top: 20px;
    
}
